@font-face {
	font-family: 'CoHeadline';
	src: url("assets/fonts/coheadline/CoHeadline-Bold.eot");
	src: url("assets/fonts/coheadline/CoHeadline-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/coheadline/CoHeadline-Bold.woff2") format("woff2"), url("assets/fonts/coheadline/CoHeadline-Bold.woff") format("woff"), url("assets/fonts/coheadline/CoHeadline-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'CoHeadline';
	src: url("assets/fonts/coheadline/CoHeadline-Light.eot");
	src: url("assets/fonts/coheadline/CoHeadline-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/coheadline/CoHeadline-Light.woff2") format("woff2"), url("assets/fonts/coheadline/CoHeadline-Light.woff") format("woff"), url("assets/fonts/coheadline/CoHeadline-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CoHeadline';
	src: url("assets/fonts/coheadline/CoHeadline-Regular.eot");
	src: url("assets/fonts/coheadline/CoHeadline-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/coheadline/CoHeadline-Regular.woff2") format("woff2"), url("assets/fonts/coheadline/CoHeadline-Regular.woff") format("woff"), url("assets/fonts/coheadline/CoHeadline-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'brown';
	src: url("assets/fonts/brown/lineto-brown-regular.eot");
	src: url("assets/fonts/brown/lineto-brown-regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/brown/lineto-brown-regular.woff2") format("woff2"), url("assets/fonts/brown/lineto-brown-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'brown';
	src: url("assets/fonts/brown/lineto-brown-thin.eot");
	src: url("assets/fonts/brown/lineto-brown-thin.eot?#iefix") format("embedded-opentype"), url("assets/fonts/brown/lineto-brown-thin.woff2") format("woff2"), url("assets/fonts/brown/lineto-brown-thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'brown';
	src: url("assets/fonts/brown/lineto-brown-light.eot");
	src: url("assets/fonts/brown/lineto-brown-light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/brown/lineto-brown-light.woff2") format("woff2"), url("assets/fonts/brown/lineto-brown-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'brown';
	src: url("assets/fonts/brown/lineto-brown-bold.eot");
	src: url("assets/fonts/brown/lineto-brown-bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/brown/lineto-brown-bold.woff2") format("woff2"), url("assets/fonts/brown/lineto-brown-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}