.business-item_thumb {
	display: block;
	width: 100%;
	padding-bottom: 50%;
	//background-image: url(""); //TODO: default img?
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .5s ease-out;
}
.business-item_company {
	display: block;
	width: 100%;
	min-height: 40px;
	> img {
		display: block;
		width: auto;
		max-width: 100%;
		height: auto;
	}
}