h1 {
	font-family: 'co-headline';
	color: #6E0A7B;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
}

.contact-us {
	font-family: 'Brown Regular';
}

.contact-us .text > div {
	font-family: 'Brown Regular';
	font-size: 16px;
	color: #9B9B9B;
	line-height: 29px;
	text-align: center;
	padding: 0px 22px;
}

.contact-us .container {
	font-family: 'Brown Regular';
	display: flex;
	color: #9B9B9B;
	margin: 40px 10% 60px 10%;
	width: 80%;
}

.contact-us .container .left, .contact-us .container .right {
	width: 100%;
}

.contact-us .container .right form > div {
	display: flex;
	justify-content: space-between;
}

.contact-us .container .title {
	color: #6E0A7B;
	font-size: 22px;
	margin-bottom: 20px;
}

.contact-us .container .name {
	font-size: 16px;
	line-height: 29px;
}

.contact-us .container .name a {
	color: #FF0173;
}

.contact-us .container .phone {
	margin-bottom: 20px;
	color: inherit;
	text-decoration: none;
	color: #FF0173 !important;
}

.contact-us .container .phone span {
	color: #9B9B9B;
}

.contact-us .container ul {
	margin-bottom: 40px;
}

form.search .search-block {
	display: flex;
}

form.search label {
	font-size: 16px;
	color: #FF0173;
}

.container .right form.search .right {
	margin-left: 10px;
}

.container .right form.search .left {
	margin-right: 10px;
}

form.search label,
form.search .left label,
form.search .right label {
	margin-top: 1em;
}

form.search input[type="submit"] {
	font-family: 'Brown Regular';
	font-size: 16px;
	background-color: #fff;
	color: #FF0173;
	border-radius: 4px;
	margin-top: 20px;
	padding: 20px 40px;
	border: 1px solid #FF0173;
	transition: all .3s ease-in-out;
}

form.search input[type="submit"]:hover {
	background-color: #FF0173;
	color: #fff;
}

form.search select::-webkit-input-placeholder,
form.search textarea::-webkit-input-placeholder,
form.search input[type="text"]::-webkit-input-placeholder {
	color: rgba(221, 221, 221, 1);
}

form.search select, form.search textarea, form.search input[type="text"] {
	font-family: 'Brown Regular';
	background: #fff;
	color: #9B9B9B;
	width: 100%;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
}

form.search select {
	background: #fff url('./assets/images/news/arrow_down.svg') no-repeat 95%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 20px;
}

form.search select::-ms-expand {
	display: none;
}

select option {
	color: grey !important;
	padding: 5px 0px;
}

select option:focus {
	background-color: rgba(255, 1, 115, 1) !important;
}

form.search textarea {
	resize: vertical;
	min-height: 240px;
}

form.search input::placeholder, form.search textarea::placeholder {
	font-family: 'Brown Regular';
	font-size: 14px;
	color: #D8D8D8;
}

.left ul, .left li {
	list-style: none;
}

#contacts-map {
	height: 560px;
	width: 100%;
	z-index: 999;
}

@media screen and (min-width: 48em) {
	.site-footer {
		margin-top: 0px;
	}
}

.site-content {
	max-width: 100%;
}

.container {
	max-width: 1440px;
}

.page:not(.home) #content {
	padding-bottom: 0px !important;
}

.marker-content {
	width: 190px;
	height: 230px;
	font-family: 'Brown Regular';
	padding: 22px 0px 0px 7px;
}

.marker-content h2 {
	color: rgba(110, 10, 123, 1);
	font-size: 22px;
}

.marker-content p {
	font-size: 16px;
	color: rgba(155, 155, 155, 1);
	margin: 14px 0px;
}

.marker-content a {
	border: 1px solid rgba(224, 224, 224, 1);
	display: block;
	text-align: center;
	width: 127px;
	font-size: 14px;
	color: rgba(255, 1, 115, 1);
	padding: 13px 0px;
	cursor: pointer;
	border-radius: 4px;
	transition: all .3s ease-in-out;
	font-family: 'Brown Regular';
}

.marker-content a:hover {
	color: white;
	background-color: rgba(255, 1, 115, 1);
}

@media screen and (max-width: 1023px) {
	.contact-us {
		.container {
			flex-direction: column-reverse;
		}

		.container > .left {
			padding-top: 92px;
		}

		.container > .right > form > div {
			flex-direction: column;
		}

		.container > .right > form > div .left {
			margin-right: 0px !important;
		}

		.container > .right > form > div .right {
			margin-left: 0px !important;
		}
	}
}

@media screen and (max-width: 575px) {
	.marker-content {
		width: 90px;
		height: 170px;
		padding: 0px;
	}

	#contacts-map {
		height: 350px;
	}

	.marker-content h2 {
		font-size: 15px;
	}

	.marker-content p {
		font-size: 13px;
		margin: 4px 0px;
	}

	.marker-content a {
		width: 90px;
		font-size: 11px;
		padding-left: 4px;
		padding-right: 4px;
		margin-top: 8px;
	}

}

