.hero {

}

.hero {
	//height: 100vh;
	min-height: 400px;
	padding-bottom: 53%; // 1024/1920
	overflow: hidden;
	.main-block {
		z-index: 4;
	}

	.scroll-down {
		z-index: 5;
	}

	.wrapper-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		overflow: hidden;
		.mask {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			z-index: 2;
		}
	}

	.hero_bg-video,
	.hero_bg-video video {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		//z-index: 1;
	}

	.hero_content-video,
	.hero_content-video video {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
		z-index: 3;
	}
}

@media screen and (max-width: 767px) {
	.hero {
	background-image: url('./assets/images/videos.jpg');
		background-size: cover;
		background-position: center;
		.hero_content-video,
		.hero_content-video video {
			max-width: 100%;
			min-height: initial;
			width: 100%;
			height: auto;
			//&.vjs-hidden,
			&.vjs-paused {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}