@import url('./assets/css/sub-menu.css');

@font-face {
	font-family: co-headline;
	src: url(https://use.typekit.net/af/56ad0b/0000000000000000000158bd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),
	url(https://use.typekit.net/af/56ad0b/0000000000000000000158bd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),
	url(https://use.typekit.net/af/56ad0b/0000000000000000000158bd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
}

@font-face {
	font-family: 'Brown Light';
	src: url('./assets/fonts/Brown-Light.otf');
}

@font-face {
	font-family: 'Brown Regular';
	src: url('./assets/fonts/Brown-Regular.otf');
}

@font-face {
	font-family: 'Brown Bold';
	src: url('./assets/fonts/Brown-Bold.otf');
}

html {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}


a {
	text-decoration: none;
}

/*header,*/
.hero {
	font-family: 'co-headline';
	position: relative;
	top: 0;
	width: 100%;
}

.video-dimensions,
.video_main-dimensions {
	//IE 11 fix
	width: 100% !important;
	height: auto !important;
}

.mobile .video-dimensions,
.mobile .video_main-dimensions {
	background-image: url('./assets/images/videos.jpg');
	height: 100%;
	display: flex;
	background-size: cover;
}

/*header .other-menu {*/
/*display: none;*/
/*visibility: hidden;*/
/*}*/

.site-content {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1400px;
}

.head-block {
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 97px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

.head-block.main-menu {
	padding-left: 0;
}

.main-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	//margin: 0 auto;
	//max-width: 900px;
}

.main-block_inner {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 900px;
	padding-top: 100px;
	margin: 0 auto;
}

.play-video_btn {
	//position: absolute;
	//top: 250px;
	//left: 50%;
	//transform: translateX(-50%);
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 5%;
}
.main-block_title {
	font-size: 60px;
	text-align: center;
	color: #fff;
}

//.main-block div {
//	text-align: center;
//	color: #fff;
//	font-size: 40px;
//}

.main-block .title {
	font-size: 60px;
}

.wrapper-mask {
	position: relative;
}

.mask {
	background: rgba(42, 4, 47, 0.7);
	position: absolute;
	width: 100%;
	height: calc(100% - 8px);
}

#video_main {
	display: none;
	visibility: hidden;
}

.main-block .play-video {
	background: url(./assets/images/btn_video.png) no-repeat;
	display: block;
	height: 45px;
	width: 45px;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor: pointer;
}

.main-block .play-video-text {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}

.scroll-down {
	font-size: 40px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 0;
	margin-top: 30px;
}

.scroll-down .text {
	font-size: 12px;
	margin-bottom: 15px;
	transform: rotate(-90deg);
}

.scroll-down .text,
.main-block .play-video-text {
	font-family: 'Brown Regular';
}

.logo {
	color: #fff;
	font-size: 40px;
}

.mobile-header {
	position: absolute;
	display: none;
	visibility: hidden;
}

.mobile-header .mobile-logo {
	display: block;
	background: url('./assets/images/octopus_logo_white.png') no-repeat;
	background-size: contain;
	background-position: center;
	height: 29px;
	width: 117px;
}

.mobile-header .mobile-icon-menu {
	background: url('./assets/images/mobile/mobile-menu.svg') no-repeat;
	height: 17px;
	width: 28px;
}

.no_home .wrapper-mobile-menu {
	position: fixed;
	//overflow-y: scroll;
	background-color: #fff;
	width: 100%;
	z-index: 9999;
}

.wrapper-mobile-menu.show-menu {
	position: relative;
	overflow-y: scroll;
}

.no_home .site-content {
	padding-top: 150px;
}

.no_home .mobile-header {
	position: relative;
	border-bottom: 1px solid #E4E4E4;

}

.no_home .mobile-header .mobile-logo {
	background: url('./assets/images/octopus_logo.png') no-repeat;

	background-size: contain;
	background-position: center;
}

.no_home .mobile-header .mobile-icon-menu {
	background: url('./assets/images/mobile/mobile-menu-red.svg') no-repeat;
}

.wrapper-mobile-menu.fixed .mobile-header .mobile-logo {
	background: url('./assets/images/octopus_logo.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.wrapper-mobile-menu.fixed .mobile-header .mobile-icon-menu {
	background: url('./assets/images/mobile/mobile-menu-red.svg') no-repeat;
}

.menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	margin: 0;
	height: 100%;
}

.menu .menu-item {
	background: url('./assets/images/arrow_menu.svg') no-repeat right;
	padding-right: 20px;
}

.menu .container {
	position: relative;
}

.menu .container .sub-menu {
	top: 60px;
}

.menu li a {
	font-family: 'Brown Regular';
	display: block;
	margin: 10px 30px;
	color: #fff;
	transition: all .3s ease-in-out;
}

.menu li a:hover {
	color: #ff0173;
}

.mobile-menu {
	display: none;
	visibility: hidden;
}

.main-description {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: 720px;
	width: 100%;
	justify-content: center;
	padding-top: 50px;
}

.left-description {
	width: 620px;
	padding-left: 15px;
}

.right-image {
	padding: 85px 0px 0px 150px;
}

.right-image img {
	height: 355px;
	width: 590px;
}

.left-description h1 {
	font-family: 'co-headline';
	font-size: 40px;
	color: #76007b;
	margin-left: 50px;
}

.left-description p {
	font-family: 'Brown Light';
	font-size: 20px;
	color: #9a9a9a;
	line-height: 1.5;
	margin-right: 50px;
}

.sub-description {
	font-family: 'Brown Light';
	color: #9b9b9b;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	line-height: 1.75;
	padding: 35px 0px 0px 20px;
	padding-right: 50px;
	position: relative;
	margin-left: 50px;
}

.sub-description::before {
	width: 4px;
	height: calc(100% - 35px);
	content: "";
	position: absolute;
	background-color: #f9f1f8;
	margin: -35px 0px 0px -25px;
}

.sub-description > span:last-child {
	padding-top: 35px;
}

.description-button {
	width: 150px;
	margin: 50px 0px 60px 45px;
}

.description-button:hover {
	color: white;
	background-color: #FF0173;
}

.main-bottom-navigation {
	padding: 120px;
	background-color: #76007b;
	display: flex;
	color: white;
	flex-direction: row;
	flex-wrap: nowrap;
}

.main-bottom-navigation h1 {
	width: 1255px;
	font-family: 'co-headline';
}

.navigation-description {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1300px;
	align-items: flex-start;
}

.navigation-description .title {
	font-size: 18px;
	color: #e3e3e3;
	font-family: 'Brown Bold';
	margin-bottom: 25px;

}

.navigation-description > div {
	width: 30%;
	padding: 0px 15px;
}

.navigation-description > div:last-child {
	width: 40%;
}

.navigation-description > div h4,
.navigation-description > div span,
.navigation-description > div ul li a {
	color: #e3e3e3;
	font-family: 'Brown Regular';

}

.navigation-description > div span,
.navigation-description > div ul li a {
	font-size: 14px;
	line-height: 2.25;
}

.navigation-description > div ul li,
.navigation-description > div ul li a {
	list-style: none;
}

.navigation-description > div h4 {
	margin-bottom: 20px;
}

.main-footer {
	color: #fff;
	display: flex;
	flex-direction: column;
	background-color: #66006b;
	padding: 25px 80px 30px 80px;
	font-size: 14px;
	font-family: 'Brown Regular';
}

.main-footer span {
	padding: 3px;
}

.main-business {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	padding: 75px 40px;
	margin-top: 15px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #E4E4E4;
}

.main-business h1 {
	font-size: 40px;
	color: rgba(110, 10, 123, 1);
	font-family: 'co-headline';
}

.business-items {
	max-width: 1400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.business-item:hover > .business-item_thumb,
.business-item:hover > img {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18);
	transform: scale(1.01);
}

.business-item .button-news {
	background-position-x: 110px;
	background-position-y: 23px;
}

.business-item:hover .button-news {
	color: #fff;
	border-color: #ff0173;
}

.business-item:hover .button-news {
	background: #ff0173 url(/wp-content/themes/twentyseventeen/assets/images/arrow_white.svg) no-repeat 110px 23px;
}

.business-item-1, .business-item-2,
.business-item-3, .business-item-4,
.business-item-5, .business-item-6 {
	opacity: 0;
}

.business-item-1, .business-item-2, .business-item-3,
.business-item-4, .business-item-5, .business-item-6 {
	margin-top: 70px;
}

.business-items > a {
	width: 400px;
	display: block;
	margin-bottom: 60px;
	margin-left: 30px;
}

.business-items > a > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.showElement {
	opacity: 1;
	margin-top: 40px;
	transition: 2s opacity, 2s margin-top;
}

.business-items > a > div > div:first-child {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 32px;
	font-family: 'Brown Light';
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.business-items > a > div >
div:first-child > span:first-child {
	margin: 0px 5px 0px 10px;
	font-weight: bold;
}

.business-items > a > div > img {
	width: 390px;
	height: 200px;
	transition: all .5s ease-out;
}

.business-items > a > div > div:last-child {
	height: 170px;
	width: 380px;
	border: 1px solid #e8e8e8;
	border-top: none;
	border-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #9B9B9B;
	font-family: 'Brown Light';
	padding: 30px 35px 0px 35px;
	position: relative;
	font-size: 16px;
	line-height: 28px;
	transition: box-shadow 0.25s;
}

.business-items > a > div > div:last-child > span:last-child {
	position: absolute;
	top: calc(100% - 34px);
	left: calc(50% - 64px);
	padding: 13px 38px 13px 25px;
	background-color: white;
	font-size: 20px;
	transition: background-color 1.5s;
	transition: all .3s ease-in-out;
}

.business-items > a:hover > div > div:last-child > span:last-child {
	background-color: #FF0173;
}

.business-items > a > div > div:last-child:hover {
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.main-news {
	padding: 70px 0 73px;
}

.main-news h1 {
	font-family: 'co-headline';
	color: #76007b;
	font-size: 40px;
	text-align: center;
}

.main-news .mobile-title {
	display: none;
}

.main-news .container {
	height: 490px;
	display: flex;
	overflow: hidden;
	margin: 69px 0;
}

.main-news--line {
	.container {
		max-width: 100%;
	}
}
.main-news .container .wrapper {
	display: flex;
	margin: 20px 0 0;
	//font-size: 0;
}

.main-news .container .item {
	//font-size: 16px;
	//display: inline-block;
	//vertical-align: top;
	position: relative;
	font-family: 'co-headline';
	height: 449px;
	width: 333px;
	min-width: 333px;
	margin-left: 50px;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ddd;
	transition: all .3s ease-in-out;
}

.main-news .container .item:hover {
	margin-top: -20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	border: 1px solid #F0F0F0;
}

.main-news .container .item:hover .read-more {
	color: #FF0173;
}

.main-news .container .item:nth-last-child(1) {
	margin-right: 50px;
}

.main-news .item .main {
	padding: 0 30px;
}

.main-news .item img {
	height: 156px;
	width: 100%;
	object-fit: cover;
}

.main-news .item .main .data {
	font-family: 'Brown Regular';
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.main-news .item .main .data .photo {
	align-self: flex-end;
	margin-right: 10px;
}

.main-news .item .main .data .photo img {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.main-news .item .main .data .name {
	color: #6E0A7B;
	font-size: 12px;
}

.main-news .item .main .data .date-item {
	color: #9B9B9B;
	opacity: 0.98;
	font-size: 11px;
}

.main-news .container .item:hover .main .data .name {
	color: #7D7D7D;
}

.main-news .container .item:hover .main .data .date-item {
	color: #9B9B9B;
	opacity: 0.32;
}

.main-news .item .main .title {
	font-family: 'Brown Regular';
	line-height: 26px;
	color: #3d3d3d;
	font-size: 19px;
	margin: 10px 0;
}

.main-news .item .main .content {
	font-family: 'Brown Light';
	line-height: 27px;
	min-height: 70px;
	font-size: 16px;
	color: #9B9B9B;
	padding-bottom: 30px;
	//margin: 0 0 30px 0;
}

.main-news .item .main .read-more {
	position: absolute;
	font-family: 'Brown Regular';
	font-size: 18px;
	display: inline-block;
	color: #9B9B9B;
	bottom: 28px;
	left: 32px;
}

.main-news .item .read-more-arrow {
	display: inline-block;
	background: url('./assets/images/arrow.svg') no-repeat center;
	height: 13px;
	width: 20px;
}

.main-news .item:hover .read-more-arrow {
	background: url('./assets/images/news/arrow_red.svg') no-repeat center;
}

.main-news .scroller {
	height: 3px;
	width: 290px;
	margin: 0 auto;
	background: #F2F2F2;
}

.main-news .scroller .scroll {
	height: 5px;
	width: 290px;
	background: #CCCCCC;
	position: relative;
	top: -1px;
	border-radius: 4px;
	cursor: pointer;
}

.main-news .view-all {
	margin-top: -20px;
	padding-right: 111px;
	text-align: right;
}

.main-news .view-all a {
	font-family: 'Brown Bold';
	color: #FF0173;
	font-size: 14px;
}

.main-news img.arrows {
	display: block;
	margin: 27px auto 0;
}

.custom-button {
	font-family: 'Brown Regular';
	display: block;
	font-size: 17px;
	color: #FF0173;
	padding: 16px;
	border-radius: 4px;
	border: 1px solid #d7d7d7;
	text-align: center;
	transition: all .3s ease-in-out;
}

.button-arrow {
	background: url(/wp-content/themes/twentyseventeen/assets/images/arrow_red.svg) no-repeat;
	background-position-x: 100px;
	background-position-y: 23px;
}

.button-red {
	display: inline-block;
	font-size: 17px;
	background: #FF0173;
	color: #fff;
	padding: 16px 30px;
}

.button-red:hover {
	color: #fff;
}

.logo-footer {
	font-size: 32px;
	line-height: 32px;
	width: 15%;
	min-width: 150px;
}

.hide {
	display: none;
}

.show {
	display: block !important;
	visibility: visible !important;;
}

.number-error {
	margin-bottom: 20px;
	font-family: 'co-headline'; /* bold */
	text-align: center;
	font-size: 100px;
	font-size: 72px;
	color: rgba(255, 1, 115, 1);
	background: -webkit-linear-gradient(rgba(255, 1, 115, 1), rgba(144, 69, 169, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ie11 .number-error {
	color: rgba(255, 1, 115, 1);
}

.text-error {
	font-family: 'co-headline'; /* bold */
	font-size: 50px;
	color: #FF2E86;
	margin-bottom: 80px;
	text-align: center;
}

.button-back-home {
	width: 210px;
	margin: 0 auto;
	background-position-x: 180px;
	padding-right: 30px;
}

a.button-back-home:hover {
	color: #FF2E86;
}

.vjs-poster.vjs-hidden,
.vjs-text-track-display,
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-error-display,
.vjs-caption-settings,
.vjs-hidden.vjs-paused video {
	display: none;
}

@media screen and (max-width: 1400px) {
	.right-image {
		padding-left: calc(100% / 2 - 590px);
	}
}

@media screen and (max-width: 1315px) {
	.main-bottom-navigation h1 {
		width: auto;
	}

	.navigation-description {
		flex-wrap: wrap;
		width: 85%;
	}
}

@media screen and (max-width: 1200px) {
	.right-image {
		padding-left: 0px;
	}

	.main-description {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.play-video_btn {
		top: 150px;
	}
	.main-block .play-video {
		//top: 150px;
	}

	.main-block .play-video-text {
		//top: 210px;
	}

	.menu li a {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.head-block {
		padding-left: 0;
	}

	.head-block .logo .title {
		//display: none;
		//visibility: hidden;
	}

	.head-block .menu {
		width: 100%;
		justify-content: space-around;
	}

	.head-block .menu li a {
		margin: 0;
	}

	.main-news .view-all {
		padding-right: 0;
		margin-top: 20px;
		text-align: center;
	}
}

@media screen and (max-width: 1023px) {
	.navigation-description > div {
		width: 50%;
		padding: 0px 15px;
	}

	.navigation-description > div:last-child {
		width: 100%;
	}
}

@media (max-device-width: 1366px) and (orientation: landscape) {
	.main-news .scroller, .main-news img.arrows {
		display: none;
	}

	.business-item-1, .business-item-2,
	.business-item-3, .business-item-4,
	.business-item-5, .business-item-6 {
		opacity: 1;
	}

	.head-block.main-menu {
		display: none;
		visibility: hidden;
	}

	.wrapper-mobile-menu.fixed {
		position: fixed;
		width: 100%;
		z-index: 9999;
	}

	.mobile-header {
		visibility: visible;
		display: flex;
		width: 100%;
		padding: 25px 35px 15px 30px;
		justify-content: space-between;
		z-index: 999;
	}

	.wrapper-mobile-menu.fixed .mobile-header {
		background: #fff;
	}

	.mobile-menu {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		//height: 750px;
		background: red;
		background: linear-gradient(to bottom left, #9045A9, #FF0173);
		z-index: 999;
	}

	.mobile-menu .close {
		background: url(./assets/images/icon-close.svg) no-repeat;
		display: inline-block;
		height: 21px;
		width: 21px;
		margin-left: 31px;
		margin-top: 28px;
		cursor: pointer;
	}

	.mobile-menu .title {
		display: block;
		text-align: center;
		height: 90px;
		line-height: 80px;
	}

	.mobile-menu .menu-list {
		list-style: none;
		padding: 0;
		text-align: center;
	}

	.mobile-menu .menu-list li {
		border-top: 1px solid rgba(255, 255, 255, .1);
	}

	.mobile-menu .menu-list li:last-child {
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}

	.mobile-menu .menu-list li a {
		font-family: 'Brown Regular';
		font-size: 14px;
		display: block;
		padding: 22px 0;
		color: #fff;
	}

	.plyr--ready.background video {
		background: #000;
	}
}

@media screen and (max-device-width: 895px) {
	.head-block .menu {
		width: 100%;
	}

	.navigation-description > div {
		margin: 0px;
		width: 35%;
	}

	.navigation-description > div:first-child {
		margin: 20px 0px;
	}

	.navigation-description > div:last-child {
		width: 65%;
	}
}

@media only screen and (max-width: 768px) {
	.head-block .menu {
		width: 100%;
	}

	.main-bottom-navigation {
		display: block;
	}

	.navigation-description {
		width: 100%;
	}

	.logo-footer {
		padding-left: 15px;
	}

	.head-block.other-menu.fixed {
		display: none;
		visibility: hidden;
	}

	.head-block.main-menu {
		display: none;
		visibility: hidden;
	}

	.mobile-header {
		visibility: visible;
		display: flex;
		width: 100%;
		padding: 25px 35px 15px 30px;
		justify-content: space-between;
		z-index: 999;
	}

	.wrapper-mobile-menu.fixed {
		position: fixed;
		width: 100%;
		z-index: 9999;
	}

	.wrapper-mobile-menu.fixed .mobile-header, .wrapper-mobile-menu.no_home .mobile-header {
		background: #fff;
		border-bottom: 1px solid #E4E4E4;
	}

	.mobile-menu {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		//height: 750px;
		background: red;
		background: linear-gradient(to bottom left, #9045A9, #FF0173);
		z-index: 999;
	}

	.mobile-menu .close {
		background: url(./assets/images/icon-close.svg) no-repeat;
		display: inline-block;
		height: 21px;
		width: 21px;
		margin-left: 31px;
		margin-top: 28px;
	}

	.mobile-menu .title {
		display: block;
		text-align: center;
		height: 90px;
		line-height: 80px;
	}

	.mobile-menu .menu-list {
		list-style: none;
		padding: 0;
		text-align: center;
	}

	.mobile-menu .menu-list li {
		border-top: 1px solid rgba(255, 255, 255, .1);
	}

	.mobile-menu .menu-list li:last-child {
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}

	.mobile-menu .menu-list li a {
		font-family: 'Brown Regular';
		font-size: 14px;
		display: block;
		padding: 22px 0;
		color: #fff;
	}

	//.main-block {
	//	top: 30%;
	//}

	.main-block .title-two {
		text-align: center;
	}

	.play-video_btn {
		top: 40%;
		left: calc(50% - 22px);
	}

	//.main-block .play-video {
	//	top: 40%;
	//	left: calc(50% - 22px);
	//}
	//
	//.main-block .play-video-text {
	//	top: 60%;
	//	left: calc(50% - 25px);
	//}

}

@media only screen and (max-device-width: 738px) {
	header {
		height: 600px;
	}

	.plyr video {
		height: 600px;
	}
}

@media only screen and (max-width: 736px) {
	.menu {
		display: none;
	}

	.head-block {
		justify-content: right;
	}

	.main-business {
		padding: 0;
		border-top: 0;
		margin-top: 83px;
	}

	.left-description {
		padding-left: 3%;
	}

	.left-description h1 {
		margin-right: 7%;
		margin-left: 0px;
	}

	.left-description p {
		margin-right: 5%;
	}

	.sub-description {
		padding-right: 5%;
	}

	//.main-block {
	//	top: 25%;
	//}
}

@media only screen and (max-device-width: 736px) {
	.plyr--ready video {
		height: 600px;
	}

	//.main-block {
	//	height: 620px;
	//}

	/* header {
		 height: 600px;
	}

	.plyr video {
		height: 600px;
	} */
}

@media only screen and (max-width: 991px) {
	.main-block_title {
		font-size: 40px;
	}
	.main-block_inner {
		padding-top: 90px;
	}
}

@media only screen and (max-width: 767px) {
	.main-block_title {
		font-size: 30px;
	}
	.main-block_inner {
		padding-top: 60px;
	}
}

@media only screen and (max-width: 700px) {
	.main-block .title-two {
		text-align: center;
	}
}

@media screen and (max-width: 640px) {
	.left-description {
		width: auto;
	}

	.left-description h1 {
		font-size: 36px;
	}

	.left-description p {
		font-size: 18px;
	}

	.main-block .play-video.js-play, .main-block .play-video-text {
		display: block;
		visibility: visible;
	}

	/* .main-block .play-video.js-play {
		 top: 350px;
		 margin-top: 0;
	} */
	//.main-block .play-video-text {
	//	top: 66%;
	//}
}

@media screen and (max-width: 600px) {
	.navigation-description {
		display: block;
	}

	.navigation-description > div {
		width: 100%;
	}

	.navigation-description > div:nth-child(2) > div.title {
		display: none;
	}
}

@media screen and (max-width: 590px) {
	.left-description h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 414px) {
	.left-description h1 {
		margin-left: 0px;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.left-description h1 {
		margin-left: 0px;
		text-align: center;
	}
}

@media screen and (max-width: 325px) {
	.main-business h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 480px) {

	.hero {
		position: relative;
	}

	.head-block {
		height: 60px;
		padding-left: 0px;
	}

	.main-block_inner {
		padding: 0 7%;
		//height: 667px;
	}

	.head-block .logo .title {
		display: none;
	}

	.head-block .logo {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 7%;
		font-size: 17px;
	}

	.head-block .menu {
		display: none;
	}

	.main-block .title {
		font-size: 60px;
	}

	.main-block .scroll-down {
		bottom: 1%;
	}


	//.main-block .play-video {
	//	top: 12%;
	//}
	//
	//.main-block .play-video-text {
	//	top: 20%;
	//}

	.main-business {
		padding: 0;
		border-top: none;
	}

	.business-items > div {
		margin-left: 0px;
		width: 95%;
	}

	.business-items > div img {
		width: 100%;
	}

	.business-items > div > div:last-child {
		color: #9B9B9B;
		width: 90%;
		height: 100%;
		padding-bottom: 60px;
		padding-left: 15px;
		padding-right: 10px;
	}

	.business-item-1, .business-item-2,
	.business-item-3, .business-item-4,
	.business-item-5, .business-item-6 {
		opacity: 1;
	}

	.business-items .business-item .title span:first-child {
		font-weight: bold;
	}

	.main-news .mobile-title {
		color: #76007b;
		font-size: 36px;
		text-align: center;
		font-family: 'co-headline';
		text-align: center;
		display: block;
	}

	.main-news .title {
		//display: none;
	}

	.main-news .container {
		height: 100%;
	}

	.main-news .container .item {
		height: 100%;
		box-shadow: none;
		margin-left: 1%;
		border-radius: 0 0 4px 4px;
		border: 1px solid #F0F0F0;
	}

	.main-news .container .item:nth-last-child(1) {
		margin-right: 0;
	}

	.main-news .container .item:hover {
		margin-top: 0px;
	}

	.main-news .item .main {
		padding-bottom: 75px;
	}

	.main-news .item .main .data .name {
		color: #FF0173;
	}

	.main-news .container .item .main .data .date-item {
		opacity: 0.32;
	}

	.main-news .container .item .read-more {
		color: #FF0173;
	}

	.main-news .item .read-more-arrow {
		background: url('/wp-content/themes/twentyseventeen/assets/images/arrow_red.svg') no-repeat;
	}

	.main-news .view-all {
		margin-top: 20px;
		padding-right: 0;
		text-align: center;
	}

	.main-bottom-navigation {
		padding: 60px 10%;
		color: #D8D8D8;
		font-size: 27px;
		line-height: 27px;
		align-items: flex-start;
	}

	.main-bottom-navigation .logo-footer {
		align-items: flex-start;
	}

	.main-bottom-navigation .navigation-description > div {
		width: 100%;
		line-height: 13px;
	}

	.main-bottom-navigation .navigation-description .title {
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		margin: 40px 0px 25px;
	}

	.main-footer {
		padding: 25px 10% 30px;
	}
}

@media only screen
and (max-device-width: 480px) {
	//.main-block .play-video {
	//	margin-top: 50px;
	//	top: 0;
	//}
}

@media only screen and (max-width: 414px) {
	//.main-block .play-video {
	//	top: 9%;
	//}
	//
	//.main-block .play-video-text {
	//	top: 17%;
	//}

	//.main-block div:nth-child(1) {
	//	margin-top: 0;
	//}
}

@media only screen and (max-device-width: 414px) {
	//.main-block .play-video {
	//	top: 30%;
	//}
	//
	//.main-block .play-video-text {
	//	top: 48%;
	//}
}

/* Sumsung */
@media only screen and (max-width: 360px) {
	//.main-block div:nth-child(1) {
	//	margin-top: 20px;
	//}

	.main-block .play-video.js-play, .main-block .play-video-text {
		display: block;
		visibility: visible;
	}

	//.main-block .play-video.js-play {
	//	top: 375px;
	//	margin-top: 0;
	//}
	//
	//.main-block .play-video-text {
	//	top: 440px;
	//}
}

/* Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 568px) {
	.main-news .container .item {
		width: 278px;
	}
}

@media only screen
and (max-width: 435px) {
	.business-items > a {
		width: calc(100% - 18px);
		margin-left: 9px;
	}

	.business-items > a > div > img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.business-items > a > div > div:last-child {
		height: auto;
		width: 95%;
		padding-bottom: 50px;
	}
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
	//.main-block {
	//	height: 620px;
	//}

	.main-news .container .item {
		width: 320px;
	}

	.main-business {
		padding: 0;
		border-top: 0;
		margin-top: 83px;
	}
}

@media only screen and (max-width: 320px) {
	//.main-block {
	//	height: 0;
	//}

	//.main-block div:nth-child(1) {
	//	margin-top: 0px;
	//}

	.main-block .play-video.js-play, .main-block .play-video-text {
		display: block;
		visibility: visible;
	}

	//.main-block .play-video.js-play {
	//	top: 350px;
	//	margin-top: 0;
	//}
	//
	//.main-block .play-video-text {
	//	top: 410px;
	//}
}

@media screen and (max-width: 666px) {
	.main-bottom-navigation .navigation-description {
		display: block;
	}
}

@media screen and (max-width: 736px) {
	.site-content {
		width: 100%;
	}

	.business-items > a {
		margin-left: 0px;
	}

	.right-image img {
		height: auto;
		width: 100%;
	}

	.right-image {
		padding: 0px;
		width: 100%;
		height: auto;
	}

	.main-bottom-navigation {
		display: block;
		width: 100%;
	}
}



.section {

}
.section_inner {
	max-width: 1440px;
	margin: 0 auto;
	padding-bottom: 50px;
}
