.wrapper-mobile-menu {
	overflow: auto;
}
.no_home .wrapper-mobile-menu {
	overflow: auto;
}
.mobile-header {
	border-bottom: none;
}

.mobile-logo {
	background-size: contain;
	background-position: center;
}

.mobile-icon-menu {
}

.mobile-menu {
	overflow-y: auto;
	max-height: 100%;
}

@media only screen and (max-width: 768px) {
	.mobile-header {
		max-width: 100%;
	}
}