.top-header {
	position: absolute;
	top: 0;
	max-width: 100%;
	z-index: 99999;
	transition-property: background;
	transition-duration: .2s;
	&.main-menu {
		.logo-img--white {
			display: block;
		}
		.logo-img--origin {
			display: none;
		}
	}
	&.is-fixed {
		position: fixed !important;
		background: #fff;
	}
	&.main-menu.fixed {
		.logo-img--white {
			display: none;
		}
		.logo-img--origin {
			display: block;
		}
	}

	.menu-item {
		cursor: pointer;
	}

	&.fixed {
		position: fixed;
		width: 100%;
		background: #fff;
		height: 80px;

		.menu {
			li a {
				color: #333;
			}
			.menu-item {
				cursor: pointer;
				background-image: url('./assets/images/arrow_menu_black.svg');
			}
		}
	}
}