.video-page {

}

.video-player {
	width: 100%;
	max-width: 90%;
	height: auto;
	margin: 0 auto;
	cursor: pointer;
	&.video-payer-dimensions {
		width: 100% !important;
		height: auto !important;
	}
}
.video-player-wrapper {
	position: relative;
	text-align: center;
}

.video-player_btn {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	pointer-events: none;
}

.video-player_play-icon {
	background: url(./assets/images/btn_video.png) no-repeat;
	background-size: contain;
	background-position: center;
	display: block;
	height: 60px;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor: pointer;
}
.video-player_play-text {
	font-family: 'Brown Regular';
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}

// Hide ios play btn <START>
/* This used to work for parent element of button divs */
/* But it is not enough now, below dont hide play button parent div */
*::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}
/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}
/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}
// second solution
video {
	&::-webkit-media-controls {
		display:none !important;
	}

	&::-webkit-media-controls-start-playback-button {
		display: none!important;
		-webkit-appearance: none;
	}
}
// <END>

@media screen and ( max-width: 48em ) {
	.video-player {
		max-width: 100%;
	}
}
