h1 {
	font-family: 'co-headline';
	color: #76007b;
	font-size: 40px;
	text-align: center;
	margin-bottom: 100px;
}

.item-odd, .item-even {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
}

.item-odd .left {
	padding: 0% 10%;
	flex-basis: 50%;
	min-width: 50%;
	width: 50%;
}

.item-odd .right {
	flex-basis: 50%;
	min-width: 50%;
	width: 50%;
}

.item-odd .title, .item-even .title {
	font-family: 'co-headline';
	color: #69007F;
	line-height: 42px;
	font-size: 35px;
	margin-bottom: 21px;
}

.item-odd.first .right {
	height: 700px;
}

.item-even .left {
	height: 903px;

	flex-basis: 50%;
	min-width: 50%;
	width: 50%;
}

.item-even .right {
	padding: 0% 10%;
	flex-basis: 50%;
	min-width: 50%;
	width: 50%;
}

.item-odd.last .right img {
	margin-bottom: 0;
}

.item-even .body, .item-odd .body {
	position: relative;
	padding-top: 20px;
	margin-bottom: 15%;
}

.item-odd .body .line {
	left: 10px;
}

.item-odd .body .line-bottom {
	left: -27%;
	right: -43%;
	top: 125%;
}

.line {
	width: 5px;
	height: calc(100% - 40px);
	background: #6E0A7B;
	position: absolute;
	top: 0px;
	opacity: 0.05;
}

.item-odd p, .item-even p {
	font-family: 'Brown Light';
	font-size: 16px;
	line-height: 29px;
	color: #9B9B9B;
}

.item-even p {
	padding-right: 35px;
}

.item-odd p {
	padding-left: 35px;
}

.item-even .right {
	/*padding: 35px 0px 0px 15%;*/
	/*min-width: 50%;*/
	/*width: 50%;*/
	text-align: right;
}

.item-even .line-bottom {
	top: 95%;
}

.item-even .body .line {
	right: 10px;
}

.item-even .body .line-bottom {
	right: -20%;
}

.item-even .body b {
	font-weight: 900;
}

@media screen
and (max-width: 1366px) {
	.site-content {
		width: 100%;
	}
}

@media screen
and (max-width: 1023px) {
	.item-odd {
		display: block;
		/*flex-direction: column;*/
		margin-bottom: 0;
	}

	.item-even {
		display: block;
		/*flex-direction: column-reverse;*/
		margin-bottom: 0;
	}

	.item-odd .left,
	.item-odd .right,
	.item-even .left,
	.item-even .right {
		padding: 0% 10%;
		flex-basis: 100%;
		min-width: 100%;
		width: 100%;
		height: auto;
		padding-bottom: 30px;
	}

	.item-odd .right,
	.item-even .left  {
		display: none;
	}

	.site-content img {
		width: 100% !important;
		height: auto !important;
	}

	.item-even .right {
		text-align: left;
		padding: 0 10%;
	}

	.item-even .right .body p {
		padding-left: 35px;
	}

	.item-even .body .line {
		left: 10px;
	}

	.site-content {
		padding-bottom: 0px !important;
	}

	.item-odd.last {
		margin-bottom: 0px;
	}

	.item-odd.last .right {
		margin-bottom: -8px;
	}

}

/*
@media screen 
and (min-width: 1590px)  {
  .item-even .right:after {
      content: "";
      height: 1px;
      background: #E4E4E4;
      width: calc(90% - 635px);
      left: calc(10% + 635px);
      position: absolute;
  }
}

@media screen 
and (min-width: 840px)  {
  .item-odd.first .left:after {
      content: "";
      height: 1px;
      background: #E4E4E4;
      width: 50%;
      left: 0;
      position: absolute;
  }
}
*/