h1 {
	font-family: 'co-headline';
	color: #76007b;
	font-size: 40px;
	text-align: center;
	margin-bottom: 100px;
}

.purpose, .approach {
	display: flex;
	flex-direction: row;
}

.purpose {
	margin-bottom: 50px;
}

.purpose .left,
.approach .right {
	position: relative;
	padding: 0 10%;
	width: 65%;
	max-width: 65%;
	flex-basis: 65%;
}

.purpose .right,
.approach .left {
	position: relative;
	width: 35%;
	max-width: 35%;
	flex-basis: 35%;
}

.approach .left img,
.purpose .right img {
	width: 100%;
	max-width: 100%;
}

.purpose .title, .approach .title {
	font-family: 'co-headline';
	color: #69007F;
	line-height: 42px;
	font-size: 35px;
	margin-bottom: 21px;
	margin-left: 10px;
}

.purpose p, .approach p {
	font-family: 'Brown Light';
	font-size: 16px;
	line-height: 29px;
	color: #9B9B9B;
}

.purpose p {
	padding-left: 35px;
}

.approach .body, .purpose .body {
	padding-top: 20px;
	position: relative;
}

.approach .title {
	text-align: right;
}

.approach .body .line {
	right: 10px;
}

.purpose .body .line {
	left: 10px;
}

.purpose .body .line-bottom {
	left: -27%;
	right: -43%;
	top: 125%;
}

.approach p {
	margin-right: 25px;
}

.find-out {
	text-align: center;
	padding: 50px 0;
}

.find-out .title {
	font-family: 'co-headline';
	font-size: 30px;
	color: #69007F;
	line-height: 43px;
	margin-bottom: 7px;
}

.find-out span {
	font-family: 'Brown Regular';
	margin-bottom: 43px;
	display: inline-block;
	color: #9B9B9B;
	font-size: 20px;
	line-height: 36px;
}

.line {
	width: 5px;
	height: 90%;
	background: #6E0A7B;
	position: absolute;
	opacity: 0.05;
}

.brighter-button {
	color: #FF0173;
	background-color: white;
	transition: all .3s ease-in-out;
	width: 150px;
	height: 60px;
	margin: 0px auto;
}

.brighter-button:hover {
	background-color: #FF0173;
	color: white;
}

@media screen
and (max-width: 1600px) {
	.line-bottom {
		display: none;
	}
}

@media screen
and (max-width: 1023px) {
	.purpose {
		flex-direction: column;
	}

	.approach .body .line {
		left: 10px;
	}

	.find-out .title {
		padding: 0px 5px;
	}

	.purpose {
		display: block;
		/*flex-direction: column;*/
		padding: 0;
	}

	.approach {
		display: block;
		/*flex-direction: column-reverse;*/
		padding: 0;
	}

	.purpose .left,
	.purpose .right,
	.approach .left,
	.approach .right {
		width: 100%;
		max-width: 100%;
		flex-basis: 100%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 30px;
	}

	.purpose .right,
	.approach .left {
		display: none;
	}

	.approach .title {
		text-align: left;
		margin-left: 10px;
	}

	.approach .right .body {
		padding-left: 40px;
	}

}

@media screen
and (max-width: 736px) {
	.site-content {
		width: 100%;
	}
}
