.business-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-top: 20px;*/
}

.business-main h1 {
    font-family: 'co-headline'; 
    color: #76007b;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 28px;
}

.business-main .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.business-main .items .item {
    width: 1110px;
    display: flex;
    align-items: center;
    margin: 74px 0px;
}

.business-main .items .item > div {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.business-main .items .item:hover > div:last-child{
    box-shadow: 0px 10px 21px 1px rgba(0, 0, 0, 0.04);
}

.business-main .items .item:hover > div:first-child > img {
    box-shadow: 0px 15px 35px 1px rgba(0, 0, 0, 0.1)ж
}

.business-main .items .item > div:first-child {
    width: 385px;
    flex-basis: 385px;
    height: 335px;
    z-index: 100;
    margin: 0;
}

.business-main .items .item > div:first-child > img {
    max-width: 385px;
    height: auto;
    min-height: 301px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.business-main .items .item > div:first-child .title {
    font-size: 28px;
    margin: 0px 0px 12px 0px;
}

.business-main .items .item > div:first-child .title > span:first-child {
   font-family: 'co-headline'; 
}

.business-main .items .item > div:first-child .title > span:last-child {
   font-family: 'co-headline'; 
}

.business-main .items .item > div:last-child {
    min-width: 588px;
    flex-basis: 588px;
    min-height: 363px;
    z-index: 50;
    margin: 85px 0 0 -48px;
    background-color: white;
    border: 1px solid #dfdfdf;
    padding: 75px 73px 70px 110px;
    font-family: 'Brown Light';
    position: relative;
    transition: all .3s ease-in-out;
}

.business-main .items .item > div:last-child .title  {
   color: #6e0a7b;
   font-size: 22px;
   padding-bottom: 14px;
}

.business-main .items .item > div:last-child > span {
    line-height: 1.75;
    font-size: 16px;
    color: #9b9b9b;
}

.business-main .items .item > div:last-child a {
    width: auto;
    font-size: 20px;
    padding: 10px 45px 10px 25px;
    text-decoration: none;
    right: 50px;
    bottom: -15px;
    position: absolute;
    background-color: white;
}


.business-main .items .item > div:last-child a.button-arrow {
    background-position-x: 115px;
    background-position-y: 20px;
    /*background-image: none !important;*/
}

.business-main .items .item div.title > .business-item__title {
    max-width: 284px;
}

@media screen 
and (min-width: 1023px) 
and (max-width: 1310px) {
    .business-main .items .item > div:last-child {
        padding: 50px 40px 65px 95px;
        min-width: auto;
        height: auto;
    }
}

@media screen 
and (max-width: 1023px)  {
    .business-main .items .item {
        flex-direction: column;
        width: 100%;
    }

    .business-main .items .item > div:first-child { 
        max-width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        height: auto;
        margin-bottom: -5px;
    }

    .business-main .items .item > div:first-child > img {
        min-width: 100%;
        height: auto;
        width: 100%;
    }

    .business-main .items .item > div:last-child {
        height: auto;
        margin: 0;
        margin-top: -10px;
        max-width: calc(100% - 46px);
        min-width: calc(100% - 46px);
        padding: 50px 23px 50px 23px;
    }

    .business-main .items .item > div:last-child a {
        right: 5%;
    }
}

.business-main .items .item > div:last-child a:hover {
    background: url(/wp-content/themes/twentyseventeen/assets/images/arrow_white.svg) no-repeat;
    color:white;
    background-color: #ff0173;
    background-position-x: 115px;
    background-position-y: 20px;
}


@media screen 
and (max-width: 736px)  {
  .site-content {
     width: 100%;
  }
}

@media screen 
and (max-width: 320px)  {
    .business-main .items .item > div:last-child a.button-arrow {
        background-position-x: 95px !important;
    }

    .business-main .items .item > div:last-child a {
        padding: 10px 25px 10px 10px;
    }
}