h1 {
  font-family: 'co-headline';
  color: #6E0A7B;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

iframe {
  width: 806px;
  height: 435px;
}

.career-main-video {
  text-align: center;
  margin: 70px 0 70px;
}

.career-main-video:before,
.career-main-video:after  {
  content: "";
  position: absolute;
  width: calc(50% - 403px);
  height: 1px;
  background:rgba(228, 228, 228, 1);
  margin-top: 375px;
}

.career-main-video:before {
  left: 0px;
}

.career-main-video:after {
  right: 0px;
}

.career-about, .advantage {
  font-family: 'Brown Light';
  display: flex;
  color: #9B9B9B;
}

.career-about .left {
  width: 100%;
}

.career-about .right {
  width: 120%;
}

.career-about .title, .advantage .title {
  font-size: 25px;
  line-height: 31px;
  color: #6E0A7B;
  margin-bottom: 20px;
}

.career-about .left .title {
  font-family: 'co-headline';
  padding-right: 50%;
  margin-bottom: 40px;
}

.career-about .right .title {
  font-family: 'Brown Regular';
}

.career-about .left p,
.career-about .right p,
.advantage .left p,
.advantage .right p {
  font-size: 16px;
  line-height: 29px;
}

.advantage {
  display: flex;
}

.advantage .left, .advantage .right {
  width: 100%;
}

.advantage .left p {
  padding-right: 10%;
  margin-bottom: 40px;
}

.button-careers {
  font-family: 'Brown Regular';
  font-size: 20px;
  color: #FF0173;
  padding-left: 23px;
  text-align: left;
  width: 220px;
  background-color: white;
  transition: all .3s ease-in-out;
}

.button-careers:hover {
  background-color: #FF0173;
  color: white;
}

.button-careers:hover .custom-button {
    background: #ff0173 url(/wp-content/themes/twentyseventeen/assets/images/arrow_white.svg) no-repeat 110px 23px;
}

.button-arrow {
  background-position-x: 185px;
  background-position-y: 26px;
}

@media screen 
and (max-width: 1028px)  {
  .career-main-video:before,
  .career-main-video:after  {
    width: 10%;
  }

  .career-main-video:after {
     margin-top: -10%;
  }

  .career-main-video:before {
    margin-top: 35%;
  }
}

@media screen 
and (max-width: 745px)  {

  .site-content {
    width: 100%;
  }
  .career-main-video:before,
  .career-main-video:after  {
     display: none;
  }
   
  .career-about .right {
    width: 100%;
  }

  .advantage, .career-about {
    flex-direction: column;
    padding: 0px 19px;
  }

  .career-main-video {
    margin-bottom: 35px;
  }

  .career-about .left {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .advantage .left p {
    margin-bottom: 0px;
  }

  .advantage .right .title {
    display: none;
  }

  .career-about .left .title  {
      padding-right: 0px;
  }

  .site-content > a {
      margin: 0px auto;
  }

}