h1 {
  font-family: 'co-headline';
  color: #6E0A7B;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.main {
  font-family: 'Brown Regular';
  font-size: 16px;
  color: #9B9B9B;
  margin: 80px 5% 0px 5%;
}

.title {
  font-size: 22px;
  color: #6E0A7B;
  margin-bottom: 10px;
}

p {
  line-height: 29px;
}

.email {
  font-family: 'Brown Bold';
  color: #FF0173;
}

ul {
  padding: 0;
  margin-left: 30px;
}

.policy li {
  padding-left: 35px;
}

a {
  cursor: pointer;
}

ul.common-padding {
  padding-top: 40px;
}

.adress {
  display: flex;
  flex-direction: row;
}

.adress > div:first-child {
  width: 100px;
}

.adress > div:last-child {
  width: 250px;
}