#content.giving.site-content {
  padding-bottom: 0;
}

.giving img {
    position: relative;
    z-index: 3;
}

h1, .charities .title {
  font-family: 'co-headline';
  color: #6E0A7B;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.wrapper {
  display: flex;
  margin-bottom: 150px;
}

.left {
  width: 492px;
  height: 474px;
  position: relative;
  flex-shrink: 0;
}

.left .image-block {
  bottom: -70px;
}

.right {
  padding: 0 20px 0px 63px;
  min-width: 300px;
}

.right p {
  font-family: 'Brown Light';
  font-size: 16px;
  line-height: 29px;
  color: #9B9B9B;
}

.right a {
    color: #ff0173;
}

.charities .title {
  margin-bottom: 50px;
}

.charities .parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.charity {
  max-width: 441px;
  padding-left: 26px;
  margin-bottom: 80px;
}

.charity .body, .charity .footer {
  padding-left: 20px;
}

.charity a {
  text-decoration: none;
}

.charity .title {
  font-family: 'Brown Regular'; 
  font-size: 22px;
  line-height: 30px;
  color: #83218E;
  margin-bottom: 15px;
  text-align: left;
}

.charity .body {
  position: relative;
  font-family: 'Brown Regular'; 
  font-size: 16px;
  line-height: 29px;
  color: #9B9B9B;
  padding-top: 10px;
  margin-bottom: 20px;
}

.charity .footer {
  font-size: 16px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  image-rendering: optimizeSpeed;
}

.charity .footer .address a{
  font-family: 'Brown Bold'; 
  color: #EE0075;
}
  
.charity .footer .link a{
  font-family: 'Brown Regular';
  color: #61C9FF;
}

.charity .body .line {
  width: 5px;
  height: 90%;
  background: #6E0A7B;
  position: absolute;  
  opacity: 0.05;
  top: 0;
  left: 0;
}

.charity .footer.calm {
  background: url('../images/charity/calm.svg') no-repeat left;
  padding-left: 100px;
}

.charity .footer.youthatrisk {
  background: url('../images/charity/youth-at-risk-logo.png') no-repeat center left;
  background-size: 90px 90px;
  background-position: 5px 15px;
  padding-left: 100px;
}

.charity .north-london {
  background: url('../images/charity/north-london.svg') no-repeat center left;
  padding-left: 150px;
}

.charity .greatwood {
  background: url('../images/charity/greatwood.svg') no-repeat center left;
  padding-left: 100px;
}

.charity .autism {
  background: url('../images/charity/beyond-autism.png') no-repeat center left;
  padding-left: 180px;
  background-position: -20px;
  background-size: 175px 88px;
}

.charity .south-london {
  background: url('../images/charity/south-london.png') no-repeat center left;
  padding-left: 150px;
  background-size: 112px 41px;
  background-position: 0px 30px;
}

.right:after {
    content: "";
    height: 1px;
    background:#E4E4E4;
    width: calc(90% - 492px);
    right: 0;
    left: calc(10% + 492px);
    top: auto;
    position: absolute;
}

@media screen 
and (max-width: 1540px) {
  .right:after {
    left: 0%;
    width: 100%;
  }
}


@media screen 
and (max-width: 1120px)
and (min-width: 768px){
  .left-column,
  .right-column { 
      width: 50%;
  }

  .charity {
      width: 90%;
  }

  .right {
      padding: 0px;
      padding-left:20px;
  }
  .left {
    width: 50%;
    height: auto; 
  }
}


@media screen 
and (max-width: 1023px) {
    .left {
      width: 100%;
      height: auto; 
    }

    .image-block,
    .image-block img {
      width: 100%;
    }

    .wrapper {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .right {
      margin-top: 50px;
      padding: 0px 18px;
    }

    .right:after {
      display: none;
    }
}

@media screen 
and (max-width: 470px) {
    .charity {
      max-width: calc(100% - 36px);
      padding: 0px 18px 0px 55px;

    }
}

@media screen 
and (max-width: 736px)  {
  .site-content {
     width: 100%;
  }
}
