.header {
  font-family: 'Brown Regular';
}

.footer .author img, .header .author img {
  width: 34px;
  border-radius: 50%;
}

.header .author > div {
  display: block;
}

.header .author .name {
  font-size: 16px;
  color: #6E0A7B;
}

.header .author .date {
  font-size: 15px;
  color: #9B9B9B;
  font-family: 'Brown Light';
}

.header .title {
  font-family: 'Brown Bold';
  font-size: 40px;
}

.header .category {
  margin: 10px 0;
  font-family: 'Brown Light';
}

.header .category span {
  color: #9B9B9B;
}

h1 {
  font-family: 'co-headline';
  color: #6E0A7B;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.main-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-news .item {
  position: relative;
  width: 333px;
  height: 449px;
  border: 1px solid #F0F0F0;
  margin: 0 20px 45px;
}

.main-news .item.form {
  font-family: 'Brown Light';
  font-size: 16px;
  border: 0;
  color: #9B9B9B;
}

.main-news .item img {
  height: 160px;
  width: 333px;
  object-fit: cover;
}

.main-news .item .search .search-block {
  display: flex;
}

.main-news .item .search label {
  font-size: 18px;
  color: #FF0173;
}

.main-news .item .search input[type="submit"] {
  font-family: 'Brown Regular';
  font-size: 16px;
  color: #FF0173;
  background: #fff;
  border-radius: 4px;
  margin-left: 17px;
  width: 30%;
  padding: 0 20px;
  min-width: 100px;
  border: 1px solid #FF0173;
  transition: all .3s ease-in-out;
}

.main-news .item .search input[type="submit"]:hover {
  background: #FF0173;
  color: #fff;
}

.main-news .item .search select,
.main-news .item .search input[type="text"] {
  font-family: 'Brown Regular';
  background: #fff;
  color: #9B9B9B;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.main-news .item .search select {
  background: #fff url('../images/news/arrow_down.svg') no-repeat 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 20px;
}

.main-news .item .search select::-ms-expand {
  display: none;
}

.main-news .item .search input::placeholder {
  font-family: 'Brown Regular';
  color: #cdcdcd;
}

.main-news .item .search input[type="checkbox"] {
  display: none;
}

.main-news .item .search input[type="checkbox"] + label {
  font-family: 'Brown Light';
  font-size: 14px;
  color: #9B9B9B;
}

.main-news .item .search input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: #F0F0F0;
  border-radius: 40%;
  cursor: pointer;
}

.main-news .item .search input[type="checkbox"]:checked + label span {
  background: #FF0173;
}

.main-news .item .main {
  padding: 0 30px;
}

.main-news .item .main .data {
  font-family: 'Brown Regular';
  display: flex;
  flex-direction: row;
}

.main-news .item .main .data .name {
  font-size: 12px;
  color: #6E0A7B;
}

.main-news .item .main .data .date-item {
  font-size: 11px;  
  color: #9B9B9B;
  opacity: 0.98;  
}

.main-news .item:hover .main .data .name {
  color: #9B9B9B;
}

.main-news .item:hover .main .data .date-item {
  color: #7D7D7D;
  opacity: 0.32; 
}

.main-news .item .main .title {
  font-family: 'Brown Regular';
  font-size: 19px;
  line-height: 26px;
  color: #3d3d3d;
  margin: 0 0 5px;
}

.main-news .item .main .content {
  font-family: 'Brown Regular';
  line-height: 27px;
  height: 70px;
  font-size: 16px;
  color: #9B9B9B;
  margin: 0 0 30px 0;
}

.main-news .item .read-more {
  position: absolute;
  font-family: 'Brown Bold';
  font-size: 18px;
  display: inline-block;
  color: #9B9B9B;
  bottom: 40px;
}

.main-news .item:hover .main .read-more {
  color: #FF0173;
  vertical-align: middle;
}

.main-news .item .main .read-more-arrow {
    background: url('../images/arrow.svg') no-repeat center;
    display: inline-block;
    height: 12px;
    width: 20px;
    margin-left: 10px;
}

.main-news .item:hover .main .read-more .read-more-arrow {
  background: url('../images/news/arrow_red.svg') no-repeat center;
}


/* One news*/
.site-content .header {
  padding: 10px 5%;
  border-bottom: 1px solid #EFEFEF;
}

.news, .footer {
  padding: 20px 5% 0;
}

.news {
  font-family: 'Brown Regular';
  font-size: 16px;
  line-height: 29px;
  color: #9B9B9B;
  border-bottom: 1px solid #eee;
}

.news .header-news {
  font-family: 'Brown Light';
  font-size: 27px;
  line-height: 37px;
  color: #6E0A7B;
  margin-bottom: 24px;
}

.news .title {
  font-size: 20px;
  line-height: 22px;
  color: #6E0A7B;
  margin-bottom: 24px;
}

.news .content {
  display: flex;
}

.news .content > div {
  width: 50%;
}

.news .content .right {
  padding-left: 20px;
}

.main-image img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

.news .content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.news .tags {
  margin-bottom: 25px;
}

.news .tags > span {
  display: inline-block;
  font-size: 11px;
  color: #9B9B9B;
  background: #eee;
  border-radius: 4px;
  padding: 0 20px;
  margin-right: 20px;
}

.footer {
  font-family: 'Brown Regular';
  display: flex;
  justify-content: space-between;
}

.footer .title {
  color: #9B9B9B;
  margin-bottom: 12px;
}

.footer .author > div img {
  vertical-align: middle;
}

.footer .author > div span {
  padding-left: 10px;
} 

.footer .back-to-news a {
  color: #FF0173;
}

b {
  color: #000;
}

.no-results {
  margin: 150px auto 0;
}
.no-results > span {
  font-family: 'Brown Regular';
  display: inline-block;
  color: #9B9B9B;
  font-size: 20px;
  line-height: 36px;
}

.no-results > span + a.custom-button {
  margin-top: 50px;
}

@media screen 
and (max-width: 736px) {
  .main-news .item.form {
    width: 100%;
  }

  .main-news .item {
     height: auto;
  }

  .search  > * {
    display: none;
  }
}