@import url('./sub-menu.css');

.other-menu.fixed {
    display: flex;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99999;
    visibility: visible;
    padding-left: 0px;
    height: 80px;
}

.other-menu {
    border-bottom: 1px solid #ded;
    position: relative;
    padding-left: 0;
}

.other-menu .logo .title {
   color: #333; 
}

.other-menu .menu {
    list-style: none;
    display: flex;
    justify-content: row;
    font-size: 14px;
    margin: 0;
}

.other-menu .menu .container {
    position: relative;
} 

.other-menu .menu .menu-item {
   background: url('../images/arrow_menu_black.svg') no-repeat right;
   padding-right: 20px;
}

.other-menu .menu > li > a:hover + .item-border { 
    height: 3px;
    background: #ff0173;
}

.item-border {
    /*width: calc(100% - 60px);
    margin: 0 30px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.other-menu .menu > li {
    position: relative;
    align-items: center;
    display: flex;
    position: relative;
    height: 100%;
}

.other-menu .menu > li > a {
    font-family: 'Brown Regular'; 
    display: block;
    color: #333;
}

.other-menu .menu .container .sub-menu {
    top: 112px;
}

@media screen 
and (max-width: 768px) {
    .other-menu {
        display: none !important;
    }
}