.sub-menu {
    font-family: 'Brown Regular'; 
    position: absolute;
    z-index: 99999;
    left: -40px;
    background: #fff;
    border: 1px solid red;
    width: 234px;
    padding: 23px;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    box-shadow: 0 -1px 10px rgba(173, 173, 173, 0.23);
}

.triangle {    
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    right: 100px;
    width: 26px;
    height: 26px;
    z-index: 1;
    background: #FFFFFF;
    transform: rotate(-45deg);
    border-top: 1px solid #CAD5E0;
    border-left: 4px;
    border-right: 1px solid #CAD5E0;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 4px;
}

.sub-menu .menu-list {
    list-style: none;
    margin-bottom: 10px;
}

.sub-menu .menu-list .center{
    margin: 30px 0;
}

.sub-menu .menu-list a {
    color: #333;
    margin: 0;
}

.sub-menu .menu-list a:hover {
    color: #FF0173;
}
