h1 {
  font-family: 'co-headline';
  color: #76007b;
  font-size: 40px;
  text-align: center;
}

.teams {
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teams > div:last-child > .item:first-child {
  margin-top: 100px;
}

.teams > div:last-child > .item:last-child {
  margin-bottom: 0;
}

.teams .item {  
  width: 428px;
  margin-bottom: 100px;
  position: relative;
}

.teams .item .head {
  display: flex;
  position: relative;
  z-index: 999;
}

.teams .item .photo-profile {
  height: 180px;
  min-width: 180px;
  box-shadow: 0 10px 20px rgba(198, 198, 198, 0.5);
}

.teams .item .photo-profile.chief-executive {
  background: url('../images/employee.png');
}

.teams .item .photo-profile.founder {
  background: url('../images/founder.png');
}

.teams .item .photo-profile.finance {
  background: url('../images/financial.png');
}

.teams .item .photo-profile.investment {
  background: url('../images/investment.png');
}

.teams .item .photo-profile.healthcare {
  background: url('../images/healtcare.png');
}

.teams .item .photo-profile.ventures {
  background: url('../images/chief_ventures.png');
}

.teams .item .photo-profile.energy {
  background: url('../images/octopus_energy.png');
}

.teams .item .photo-profile.marketing {
  background: url('../images/marketing.png');
}

.teams .item .photo-profile.manager {
  background: url('../images/manager.png');
}

.teams .item .photo-profile.deputy {
  background: url('../images/deputy.png');
}

.teams .item .photo-profile.property {
  background: url('../images/octopus_property.png');
}

.teams .item .photo-profile.labs {
  background: url('../images/octopus_labs.png');
}

.teams .item .description {
  height: 180px;
  padding-left: 23px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teams .item .head .name,
.teams .item .head .department {
  color: #6E0A7B;
}

.teams .item .head .position,
.teams .item .head .department {
  font-size: 15px;
  line-height: 20px;
}

.teams .item .head .department {
  font-family: 'Brown Regular';
}
.teams .item .head .name {
  font-family: 'Brown Bold';
  font-size: 20px;
  line-height: 35px;
}

.teams .item .head .position, .teams .item .body {
  font-family: 'Brown Light';
  color: #9B9B9B;
}

.teams .item .body {
  padding-top: 28px;
  padding-left: 65px;
  font-size: 16px;
  line-height: 29px;
}

.line {
  width: 5px;
  height: calc(100% - 30px);
  background: #6E0A7B;
  position: absolute;
  top: 0px;
  left: 49px;
  opacity: 0.05;
}


@media screen 
and (max-width: 1520px) {

  .teams {
    width: 100%;
    justify-content: center;
  }

}

@media screen 
and (max-width: 1023px) {
    .teams {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .teams > div:last-child > .item:first-child {
        margin-top: 0px; 
    }
}

@media screen 
and (max-width: 1520px)
and (min-width: 1024px) {
  .teams .item {  
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }

  .teams > div {
    width: 50%;
  }

}

@media screen 
and (max-width: 736px)  {
  .site-content {
     width: 100%;
  }
}

@media screen 
and (max-width: 600px) {
  .teams .item {  
    width: 90%;
    padding-left: 10%;
  }
}

@media screen 
and (max-width: 380px) {
  .teams .item {  
    width: 85%;
    padding-left: 15%;
  }

  h1 {
    font-size: 48px;
  }

  .teams .item .body {
     padding-top: 5px;
     padding-left: 25px;
  }
  .teams .item .photo-profile {
    height: 115px;
    min-width: 115px;
    background-size: 100% !important;
  }
}