.site-content {
  padding-top: 200px;
}

.currency {
  font-family: 'Brown Regular';
  font-size: 16px;
  color: #FF0173;
}

.message {
  font-family: 'Brown Regular';
  position: absolute;
  left: 50%;
}

.message .first, .message .second, .message .shadow {
  position: absolute;
  background: #fff;
}

.message .first {
  width: 399px;
  height: 193px;
  padding: 21px;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  left: -362px;
  top: -100px;
}

.message .first .wrapper {
  display: flex;
}

.message .first .wrapper > div {
  font-family: 'Brown Bold';
  font-size: 18px;
  color: #6E0A7B;
}

.message .first .wrapper > div p {
  font-family: 'Brown Regular';
  font-size: 15px;
  color: #9B9B9B;
  margin-bottom: 10px;
}

.message .first .wrapper div:first-child {
  flex: 1.5;
}

.message .first .wrapper > div {
  flex: 1;
}

.message .second, .message .shadow {
  width: 378px;
  height: 225px;
  left: -380px;
  top: 10px;
}

.message .shadow {
  box-shadow: 0 6px 30px rgba(0,0,0,0.05);
}

.message .second {
  display: flex;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.message .companies {
  position: absolute;
  top: 50px;
  left: -2px;
  background: #FF0173;
  padding: 10px 20px;
}

.message .companies .title {
  font-size: 15px;
  color: #E3E3E3;
  margin-bottom: 10px;
}

.message .companies ul { 
  list-style: none; 
  margin: 0;
  color: #fff;  
}

.message .companies li span {
  font-family: 'Brown Light';
}

.button-left, .button-right {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 220px;
  border-radius: 4px;
}

.button-left:hover, .button-right:hover {
  cursor: pointer;
}

.button-left {
  left: -395px;
  background: #FF0173 url('../images/timeline/left.svg') no-repeat center;
}

.button-right {
  left: -355px;
  background: #FF0173 url('../images/timeline/right.svg') no-repeat center;
}
  
.message .second .carousel {
  display: flex;
  transition: margin-left 1s; 
}

.message .second .carousel > div {
  font-size: 15px;
  line-height: 25px;
  color: #9B9B9B;
  width: 378px;
  height: 225px;
  padding: 21px;
}

#myChart {
  margin-top: 10px;
}
